<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sharding.shardingjdbc.mapper.UserOrderMapper">
<!--    <select id="getAllUserOrder" resultType="com.sharding.shardingjdbc.entity.UserOrder">-->
<!--        SELECT * FROM userorder-->
<!--    </select>-->

    <insert id="saveUserOrder" parameterType="com.sharding.shardingjdbc.entity.UserOrder">
        insert into user_order(ordernumber,yearmonth,userid)
        VALUES
        (#{ordernumber},#{yearmonth},#{userid})
    </insert>
</mapper>